<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Categories</title>
</head>
<body>
	<h1>Categories</h1>
	<table>
		<tbody>
			<tr>
				<th>Name</th>
			</tr>
			<tr th:each = "category : ${categories}">
				<td th:text="${category.name}"/>
				<td><a th:href="@{/deletecategory/{id}(id=${category.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/newcategory" class="btn btn-primary">Add Category</a>
</body>
</html>